<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body>
    <h1>This is the profile of {{user.username}}</h1>
    <ul>
        <li>My game style: {{user.account.gameStyle }}</li>
        <li>The type of game genres I play: {{ user.account.genres }}</li>
        <li>The days I play on: {{ user.account.schedule }}</li>
        <li>I play at: {{ user.account.time }}</li>
    </ul>
    <ul>
        {% for friend in friends %}
            <a href="{% url 'profile' username=friend %}"> {{ friend }} </a>
            {% if user.username == current_user.username %}
                <a href="{% url 'change_friend' operation='remove' username=friend.username %}">
                    <button type="button">Remove Friend</button>
                </a>
            {% endif %}
            <br>
        {% endfor %}

    </ul>
</body>
</html>