{% extends "base.html" %}

{% block title %}Profile{% endblock %}

{% block header %}SMG User Profile: {{ user.username }}{% endblock %}

{% block style %}
<style>
    main {
        margin-left: auto;
        margin-right: auto;
        width: 30%;
    }

    .listStyle-wrapper li a{
        color: rgb(52, 135, 193);
        text-decoration: none;
    }

    .listStyle-wrapper li a:hover{
        color: grey;
    }

    .friend_page {
        background-color: rgb(43, 42, 51);
        border: 2px solid #2ecc71;
        color: white;
        padding: 5px 10px;
        margin: 10px 0 0 0;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-family: "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace;
        font-size: 1em;
        font-weight: bold;
        border-radius: 24px;
        transition: 0.25s;
    }

    .friend_page:hover {
        background: #2ecc71;
    }

    .chat {
        background-color: rgb(43, 42, 51);
        border: 2px solid rgb(52, 135, 193);
        color: white;
        padding: 2px 10px;
        margin: 10px 0 0 0;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-family: "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace;
        font-size: 1em;
        font-weight: bold;
        border-radius: 24px;
        transition: 0.25s;
    }

    .chat:hover {
        background: rgb(52, 135, 193);
    }
</style>
{% endblock %}


{% block content %}
<ul class="listStyle-wrapper">
    <li>My game style: {{ user.account.gameStyle }}</li>
    <li>The game genres I play: {{ user.account.genres }}</li>
    <li>The days I play on: {{ user.account.schedule }}</li>
    <li>I play at: {{ user.account.time }}</li>
    <br>
    <li>Friends:</li>
    {% for friend in friends %}
        <li>
            <a href="{% url 'profile' username=friend %}">{{ friend }}</a>
            {% if user.username == current_user.username %}
                <a href="{% url 'message' username=friend %}">
                    <button class="chat" type="button"> Chat </button>
                </a>
            {% endif %}
        </li>
    {% empty %}
        <li><a href="{% url 'connection_page' %}">None yet. Go out and make some!</a></li>
    {% endfor %}
    {% if user.username == current_user.username%}
        <a href="{% url 'friendPage' username=user.username %}">
            <button class="friend_page" type="button">Friends</button>
        </a>
    {% endif %}
</ul>
{% endblock %}
