{% extends "base.html" %}

{% block title %}Search Users{% endblock %}

{% block style %}
<style>
    main {
        width: 50%;
        margin: 0 auto 0 auto;
    }

    .search-bar {
        display: flex;
        align-items: center;
    }

    .search-bar-input, .search-button {
        font-family: "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace;
        font-weight: bold;
        border: 2px darkslategray solid;
        border-radius: 5em;
        text-align: center;
        font-size: 1.5em;
    }

    .search-bar-input {
        height: 40px;
        flex: auto;
        margin-right: 0.4em;
    }

    .search-button {
        height: 40px;
        border: 2px darkslategray solid;
        border-radius: 5em;
        flex: none;
        padding: 0 0.5em 0 0.5em;
    }

    .friend_req {
        background-color: rgb(43, 42, 51);
        border: 2px solid rgb(52, 135, 193);
        color: white;
        padding: 2px 10px;
        margin: 10px 0 0 0;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-family: "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace;
        font-size: 1em;
        font-weight: bold;
        border-radius: 24px;
        transition: 0.25s;
    }

    .friend_req:hover {
        background: rgb(52, 135, 193);
    }

    .search-list-wrapper li a{
        color: rgb(52, 135, 193);
        text-decoration: none;
    }

    .search-list-wrapper li a:hover{
        color: grey;
    }

</style>
{% endblock %}

{% block header %}Search for someone!{% endblock %}

{% block content %}
<section class="search-bar-wrapper">
    <form class="search-bar" method=POST action="{% url 'search' %}">
        {% csrf_token %}

        <input class="search-bar-input" type="search"
               placeholder="Search Users" aria-label="Search" name="searched">
        <input class="search-button" type="submit" value="Search">
    </form>
</section>

<br />

<section class="search-list-wrapper">
    {% if searched %}
        <h1>You searched for "{{ searched }}":</h1>
        <ul>
            {% for user in users %}
                <!-- 'home' will change to url of user profile -->
                <li>
                    <a href="{% url 'profile' username=user %}"> {{ user }}</a>
                    {% if user.username != current_user.username and not user in friends %}
                        <a href="{% url 'friend_request_s' username=user.username %}">
                            <button class="friend_req" type="button">Send Friend Request</button>
                        </a>
                    {% endif %}
                </li>
            {% empty %}
                <li>No results, sorry!</li>
            {% endfor %}
        </ul>
    {% endif %}
</section>
{% endblock %}